.filterWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.filterLang {
    font-family: var(--font-family);
    line-height: 129%;
    color: #fefeec;
    opacity: 0.7;
}

.sortButton {
    z-index: 2;
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    line-height: 129%;
    color: #fefeec;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.sortButton:hover {
    transform: scale(1.01);
    color: var(--color-hover);
}

.sortWrap {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (max-width: 654px) {
    .sortWrap {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
}


.show {
    display: flex;
    align-items: center;
    gap: 6px;

}

.show p {
    font-family: var(--font-family);
    line-height: 129%;
    color: #fefeec;
    opacity: 0.7;
}

.buttonBlock {
    display: flex;
    align-items: center;
}

.toggleBlockIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 42px;
}


.toggleArrayIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 16px;
    height: 16px;
}

.iconRotated {
    transform: translate(-50%, -55%) rotate(180deg);
}


@media (max-width: 768px) {
    .filterWrap {
        flex-direction: column;
        align-items: start;
    }
}


