.productItem {
    position: relative;
    background: var(--background-blur) url('../../image/backgroundCard.png') no-repeat center center;
    background-size: cover;
    border: 1px solid var(--color-border);
    border-radius: 2px;
    padding: 11px 16px;
    display: flex;
    flex-direction: row-reverse;
    width: 518px;
    max-height: 222px;
}


@media (max-width: 610px) {
    .productItem {
        width: 100%;
    }
}

.productItem img {
    width: 100%;
    height: 200px;
}


.firstItem {
    background: var(--background-blur) url('../../image/bacgroundFirstItem.png') no-repeat center center;
    grid-area: 1 / 1 / 3 / 2;
    height: 465px;
    position: relative;
    border: 1px solid var(--color-border);
    border-radius: 2px;
    padding: 16px;
}

.firstItem img {
    width: 100%;
    height: 324px;

    align-self: center;
    margin-bottom: 16px;
    margin-top: 40px;
}


.discount {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-primary);
    justify-content: flex-end;
}

.productItem .discount {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    text-align: right;
    color: var(--color-primary);
}

.productImg {
    margin-bottom: 17px;
}

.productItem .info {
    align-self: self-end;
}

.firstItem .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titleBlock {
    display: flex;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    color: var(--color-primary);
    transition: all 0.3s;
}

.titleBlock:hover,
.titleBlock:hover .title,
.titleBlock:hover .type,
.titleBlock:hover .separator {
    color: var(--color-hover);
}

.productItem .titleBlock {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 113%;
    color: var(--color-primary);
    margin-bottom: 8px;
}


.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 113%;
    color: var(--color-primary);
    transition: all 0.3s;
}



.type {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 113%;
    color: var(--color-primary);
    transition: all 0.3s;
}



.productItem .description {
    margin-bottom: 36px;
}

.infoBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.separator {
    margin: 0 8px;
    color: var(--color-secondary);
}

.description {
    font-family: var(--second-family);
    letter-spacing: 0.01em;
    color: var(--color-tertiary);
    line-height: 1.3;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.price {
    font-family: var(--font-family);
    color: var(--color-secondary);
}

.oldPriceBlock {
    display: flex;
    align-items: center;
    gap: 8px;
}

.oldPrice {
    font-family: var(--second-family);
    letter-spacing: 0.01em;
    text-decoration: line-through;
    color: var(--color-tertiary);
}

.price {
    font-family: var(--second-family);
    letter-spacing: 0.01em;
    color: var(--color-secondary);
}

.kitsBlock {
    display: flex;
    align-items: center;
    font-family: var(--second-family);
    letter-spacing: 0.01em;
    text-align: right;
    color: var(--color-tertiary);
}

.kitsBlock p {
    margin-left: 5px;
    color: var(--color-primary);
}
